/* Start Variables */

:root {
    --main-color: #ffdb00;
    --main-color-alt: #17191e;
    --main-p-color: #181a1f;
    --section-background-color: #fff;
    --section-padding: 100px;
    --main-transition: 0.5s;
}


/* End Variables */


/* Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Abel', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}


/* End Global Rules */


/* Start Header  */

header {
    padding: 15px;
    background: var(--main-color-alt);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 75px;
}

header .links {
    position: relative;
}

header .links i {
    font-size: 20px;
    background-color: var(--main-color);
    border-radius: 2px;
    padding: 5px 10px;
}

header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    min-width: 150px;
    top: calc(100% + 10px);
    display: none;
    z-index: 1;
    background: var(--main-color);
    border-radius: 2px;
}

header .links ul::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
    position: absolute;
    right: 8px;
    top: -20px;
}

header .links:hover ul {
    display: block;
}

header .links ul li a {
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--main-color-alt);
    transform: var(--main-transition);
}

header .links ul li a:hover {
    padding-left: 20px;
}

header .links ul li:not(:last-child) a {
    border-bottom: 1px solid var(--main-p-color);
}


/* End Header */


/* Start Landing */

.landing {
    background: var(--main-color-alt);
    height: calc(100vh - 105px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 55%;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 120px;
    font-weight: normal;
    padding-bottom: 0;
}

@media (max-width: 768px) {
    .landing .intro-text {
        width: 75%;
    }
    .landing .intro-text h1 {
        font-size: 50px;
        padding-bottom: 25px;
    }
}

.landing .intro-text p {
    color: #fff;
    padding-top: 0;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 35px;
}

.landing .intro-text a {
    padding: 15px 40px;
    border: 2px solid var(--main-color);
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    transition: var(--main-transition);
}

.landing .intro-text a:hover {
    background: var(--main-color);
    color: var(--main-color-alt);
    font-weight: bold;
}


/* End Landing */


/* Start services */

.services {
    padding-bottom: var(--section-padding);
    position: relative;
}

.services .srv-heading {
    background: var(--main-color);
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

.services .srv-heading p {
    color: var(--main-p-color);
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    position: relative;
}

@media (max-width: 768px) {
    .services .container {
        grid-template-columns: 1fr;
    }
    .services .launch a {
        padding: 5px 15px;
    }
}

.services .container .box {
    padding: 25px;
    margin-top: 75px;
}

.services .container .box i {
    background: var(--main-color);
    padding: 20px;
    font-size: 30px;
    border-radius: 2px;
}

.services .container .box h3 {
    color: var(--main-color);
    font-size: 30px;
    padding: 20px 0;
    font-weight: normal;
}

.services .container .box p {
    color: var(--main-p-color);
    line-height: 1.5;
    font-size: 18px;
}

.services .launch {
    text-align: center;
    margin-top: 60px;
}

.services .launch a {
    text-decoration: none;
    color: var(--main-p-color);
    border: 2px solid var(--main-color);
    border-radius: 25px;
    padding: 15px 50px;
    font-size: 20px;
    transition: var(--main-transition);
}

.services .launch a:hover {
    background: var(--main-color);
}


/* End services */


/* Start Stats */

.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background: var(--main-color-alt);
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
    .stats .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.stats .container .box {
    text-align: center;
}

.stats .container .box i {
    font-size: 50px;
    padding: 15px;
    color: var(--main-color);
}

.stats .container .box p {
    color: #fff;
    font-size: 30px;
}

.stats .container .box h4 {
    font-size: 20px;
    color: var(--main-color);
    font-weight: normal;
    padding: 15px;
}


/* End Stats */


/* Start Gallery */

.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.gallery .container {
    padding-bottom: 50px;
    position: relative;
}

.gallery .container h3 {
    color: var(--main-color);
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 15px;
}

.gallery .container p {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 25px;
    max-width: 750px;
}

.gallery .container .links {
    margin: 50px 0;
    text-align: center;
}

.gallery .container a {
    text-decoration: none;
    padding: 5px 25px;
    border: 2px solid var(--main-color);
    color: var(--main-p-color);
    font-size: 20px;
    margin-right: 15px;
    transition: var(--main-transition);
}

@media (max-width: 768px) {
    .gallery .container a {
        font-size: 17px;
        padding: 0;
    }
}

@media (max-width: 400px) {
    .gallery .container a {
        margin-right: 5px;
        padding: 3px 6px;
    }
}

.gallery .container .links a:hover,
.gallery .container .links a.active {
    background: var(--main-color);
}

.gallery .images {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

@media(max-width:991px) {
    .gallery .images {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (max-width: 768px) {
    .gallery .images {
        grid-template-columns: 1fr;
    }
}

.gallery .images .img-text {
    position: relative;
    background-image: url(../images/gallarey-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .images .img-text::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: var(--main-color);
    opacity: 75%;
}

.gallery .images .text {
    position: relative;
    z-index: 2;
    margin: 50px;
}

.gallery .images .text h4 {
    font-size: 25px;
    color: var(--main-color-alt);
    padding-bottom: 15px;
}

.gallery .images .text p {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 15px;
}

.gallery .images .text a {
    text-decoration: none;
    color: var(--main-color-alt);
    font-weight: bold;
    border: 2px solid #fff;
    padding: 5px 25px;
    transition: var(--main-transition);
}

.gallery .images .text a:hover {
    background: #fff;
}

.gallery .images .no-1 {
    grid-row: 1 / span 2;
}

.gallery .images .img-text {
    grid-column: 2 / span 2;
}

.gallery .images .image img {
    width: 100%;
    height: 100%;
}

.gallery .load {
    text-align: center;
    padding-top: 100px;
}

.gallery .load a {
    text-decoration: none;
    font-size: 20px;
    color: var(--main-color-alt);
    border: 2px solid var(--main-color);
    padding: 10px 50px;
    border-radius: 25px;
    transition: var(--main-transition);
}

.gallery .load a:hover {
    background: var(--main-color);
}


/* End Gallery */


/* Start Clients */

.clients {
    background: var(--main-color-alt);
    padding-top: 60px;
    padding-bottom: 60px;
}

.clients .container h3 {
    color: var(--main-color);
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 15px;
}

.clients .container p {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 25px;
    max-width: 800px;
    color: #fff;
}

.clients .container .images {
    margin: 0 auto;
    max-width: 75%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media(max-width:991px) {
    .clients .container .images {
        grid-template-columns: repeat(2, 50%);
    }
    .clients .container .images img {
        margin-top: 50px;
    }
}

@media (max-width: 500px) {
    .clients .container .images img {
        width: 100px;
    }
    .clients .container .images {
        margin: 0 auto;
    }
}

.clients .container .images img {
    margin-right: 100px;
}

.clients .container .slide-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients .container .slide {
    width: 12px;
    height: 12px;
    background: var(--main-color);
    position: relative;
    margin-top: 50px;
}

.clients .container .slide::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: -25px;
    top: 0;
}

.clients .container .slide::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    right: -25px;
    top: 0;
}


/* End Clients */


/* Start Contact */

.contact {
    padding-top: var(--section-padding);
}

.contact .container {
    margin-bottom: 100px;
}

.contact .container h3 {
    color: var(--main-color);
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 15px;
}

.contact .container p {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 50px;
    max-width: 800px;
    color: var(--main-p-color);
}

.contact .contact-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contact-form form {
    width: 80%;
    max-width: 600px;
}

.contact .contact-form .input-group {
    margin-bottom: 20px;
}

.contact .contact-form input,
.contact .contact-form textarea {
    width: 100%;
    padding: 5px;
    outline: 0;
    border: 2px solid var(--main-color-alt);
    font-size: 16px;
}

.contact .contact-form textarea {
    resize: none;
}

.contact .contact-form .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-form .row .input-group {
    flex-basis: 48.5%;
}

.contact .contact-form button {
    background: #fff;
    margin-top: 10px;
    color: var(--main-color-alt);
    padding: 10px 100px;
    border: 2px solid var(--main-color);
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: var(--main-transition);
}

.contact .contact-form button:hover {
    background: var(--main-color);
}

.contact .contact-info {
    margin: 0;
    padding-top: 75px;
    padding-bottom: 75px;
    background: var(--main-color);
}

.contact .contact-info .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact .contact-info i {
    font-size: 35px;
    color: #fff;
    background: var(--main-color-alt);
    padding: 15px;
    border-radius: 2px;
    margin-right: 15px;
}

.contact .contact-info span {
    color: var(--main-p-color);
    font-size: 18px;
}

@media (max-width: 500px) {
    .contact .contact-info .container {
        grid-template-columns: 1fr;
        padding: 30px;
    }
    .contact .contact-info .card {
        margin-bottom: 15px;
    }
    .contact .contact-info span {
        font-size: 15px;
    }
    .contact .contact-form .row {
        display: block;
    }
}


/* End Contact */


/* Start Footer */

footer {
    padding: 60px 0;
    background: var(--main-color-alt);
    text-align: center;
}

footer h5 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 10px;
}

footer span {
    color: var(--main-color);
}

footer .social i {
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
    transition: var(--main-transition);
}

footer .social i:hover {
    color: var(--main-color);
}

footer .scroll-up {
    position: fixed;
    width: 30px;
    height: 30px;
    background: var(--main-color);
    bottom: 30px;
    right: 14%;
    border: 1px solid var(--main-color-alt);
    border-radius: 2px;
}

footer .scroll-up i {
    color: var(--main-color-alt);
    font-size: 20px;
    margin-top: 15%;
}


/* End Footer */